.post {
  background-color: white;
  color: black;
  width: 327px;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid lightgray;
  margin-block: 1rem;
  padding-inline: 10px;

  .post_header {
    grid-row: 1;
    height: 60px;

    .post_header_content {
      display: flex;
      align-items: center;
      height: 100%;

      .post_header_image {
        padding: 10px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        cursor: pointer;
      }

      .post_header_name {
        font-weight: 700;
        cursor: pointer;
      }
    }
  }
  .post_body {
    grid-row: 2;
    width: 100%;
    margin: auto;
    position: relative;

    &_image {
      display: block;
      margin: auto;
      margin-block: 0.3rem calc(0.3rem + 10px);
      width: 100%;
      height: 311px;
      object-fit: cover;
      border-radius: 20px;
      position: relative;
      z-index: 2;
      transition: transform 0.1s;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.384);

      &:hover {
        cursor: pointer;
        transition: transform 0.1s;
        transform: scale(1.005);
      }
    }

    &_shadow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 311px;
      filter: blur(8px) saturate(2) opacity(0.5);
    }

    &_title {
      padding: 10px;
      min-height: 1rem;

      div {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        span {
          b {
            cursor: pointer;
          }
        }
      }

      .post_date {
        font-weight: 300;
        color: #888;
      }
    }

    .post_body_buttons_container {
      display: flex;

      button {
        border: none;

        &:hover {
          cursor: pointer;
        }

        img {
          height: 100%;
        }
      }
    }

    &_buttons {
      display: flex;
      align-items: center;
      background-color: #e7e7e7;
      padding: 0.5rem;
      margin-right: 1rem;
      border-radius: 10px;
      width: fit-content;
      height: 2.5rem;

      div {
        font-size: 1.2rem;
        margin-left: 0.5rem;
      }
    }
  }

  .post_footer {
    .post_comment_list {
      padding-inline: 10px;
      margin: 0;
      list-style: none;
      overflow: auto;
      max-height: 100px;

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background: #e7e7e7;
      }

      &::-webkit-scrollbar-thumb {
        background: #888;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #666;
      }

      .post_comment {
        padding-bottom: 0.8rem;
        border-bottom: 1px solid rgb(228, 228, 228);

        div {
          word-break: break-word;
        }

        &:last-of-type {
          border-bottom: none;
          padding-bottom: 0;
        }

        .post_comment_name {
          font-weight: 700;
        }
      }
    }

    .new_comment {
      height: 3rem;
      width: 100%;
      margin-top: 0.8rem;
      overflow: hidden;
      display: flex;
      flex-wrap: nowrap;

      input {
        background-color: #e7e7e7;
        height: 80%;
        width: 80%;
        padding-left: 0.8rem;
        font-size: 1rem;
        border: none;
        outline: none;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        box-sizing: border-box;
      }

      button {
        background-color: #44a4ff;
        color: white;
        font-size: 1.1rem;
        border: none;
        width: 20%;
        height: 80%;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;

        &:hover {
          cursor: pointer;
          background-color: #3d94e6;
        }
      }
    }
  }
}
