.card {
  background-color: gainsboro;
  background-color: white;
  color: black;
  width: 400px;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
  margin-block: 1rem;
}

.card .card_header {
  -ms-grid-row: 1;
  grid-row: 1;
  height: 100%;
  height: 50px;
}

.card .card_header .card_header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.card .card_header .card_header_content .card_header_image {
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.card .card_header .card_header_content .card_header_name {
  font-weight: 700;
}

.card .card_body {
  -ms-grid-row: 2;
  grid-row: 2;
  border-bottom: 1px solid #888;
}

.card .card_body_image {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .card_body_title {
  padding: 0 10px 0px 10px;
  margin-bottom: 10px;
  min-height: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card .card_body_title div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card .card_body_title div:hover {
  cursor: pointer;
}

.card .card_body_title .post_date {
  font-weight: 300;
  color: #888;
}

.card .card_body_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card_body_like {
  background-color: transparent;
  border: none;
}

.card .card_body_like:hover {
  cursor: pointer;
}

.card .card_body_like img {
  height: 100%;
}

.card .card_footer .card_comment_list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-inline: 10px;
  margin: 0;
  list-style: none;
  overflow: auto;
  max-height: 200px;
}

.card .card_footer .card_comment_list::-webkit-scrollbar {
  width: 10px;
}

.card .card_footer .card_comment_list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.card .card_footer .card_comment_list::-webkit-scrollbar-thumb {
  background: #888;
}

.card .card_footer .card_comment_list::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.card .card_footer .card_comment_list .card_comment {
  padding-block: .5rem;
  border-bottom: 1px solid #e4e4e4;
}

.card .card_footer .card_comment_list .card_comment div {
  word-break: break-word;
}

.card .card_footer .card_comment_list .card_comment:last-of-type {
  margin-bottom: 0;
}

.card .card_footer .card_comment_list .card_comment .card_comment_name {
  font-weight: 700;
}

.card .card_footer form {
  height: 3rem;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.card .card_footer form input {
  background-color: #f7f7f7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 80%;
  padding-left: .5rem;
  font-size: 1.2rem;
  border: none;
  outline: none;
}

.card .card_footer form button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.1rem;
  border: none;
  width: 20%;
  height: 100%;
}

.card .card_footer form button:hover {
  cursor: pointer;
  background-color: #cccccc;
}

@media only screen and (max-width: 800px) {
  .card {
    width: 300px;
  }
  .card_body .card_body_image {
    width: 100%;
    height: 300px;
  }
}
/*# sourceMappingURL=post.css.map */