#skeleton_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#skeleton_header {
  max-width: 90vw;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#skeleton_profile_image {
  aspect-ratio: 1/1;
  width: 10rem;
  border-radius: 50%;
  background-color: gainsboro;
  -webkit-animation: endless infinite ease-in-out 1s;
          animation: endless infinite ease-in-out 1s;
  display: inline-block;
}

@-webkit-keyframes endless {
  0% {
    background-color: #d7d7d7;
  }
  50% {
    background-color: #e6e6e6;
  }
  100% {
    background-color: #d7d7d7;
  }
}

@keyframes endless {
  0% {
    background-color: #d7d7d7;
  }
  50% {
    background-color: #e6e6e6;
  }
  100% {
    background-color: #d7d7d7;
  }
}

#skeleton_profile_info_container {
  max-width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 3rem;
  margin-top: 0.5rem;
}

#skeleton_profile_info_container #skeleton_profile_id {
  width: 10rem;
  height: 2rem;
  background-color: gainsboro;
  -webkit-animation: endless infinite ease-in-out 1s;
          animation: endless infinite ease-in-out 1s;
  display: inline-block;
}

@keyframes endless {
  0% {
    background-color: #d7d7d7;
  }
  50% {
    background-color: #e6e6e6;
  }
  100% {
    background-color: #d7d7d7;
  }
}

#skeleton_profile_info_container #skeleton_profile_stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#skeleton_profile_info_container #skeleton_profile_stats div {
  margin: 2rem 1rem 0 0;
  height: 1.5rem;
  width: 8rem;
  background-color: gainsboro;
  -webkit-animation: endless infinite ease-in-out 1s;
          animation: endless infinite ease-in-out 1s;
}

@keyframes endless {
  0% {
    background-color: #d7d7d7;
  }
  50% {
    background-color: #e6e6e6;
  }
  100% {
    background-color: #d7d7d7;
  }
}

#skeleton_profile_info_container #skeleton_profile_bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#skeleton_profile_info_container #skeleton_profile_bio div {
  margin-top: 2rem;
  display: inline-block;
  background-color: gainsboro;
  -webkit-animation: endless infinite ease-in-out 1s;
          animation: endless infinite ease-in-out 1s;
}

@keyframes endless {
  0% {
    background-color: #d7d7d7;
  }
  50% {
    background-color: #e6e6e6;
  }
  100% {
    background-color: #d7d7d7;
  }
}

#skeleton_profile_info_container #skeleton_profile_bio div:first-of-type {
  width: 5rem;
  height: 1.5rem;
}

#skeleton_profile_info_container #skeleton_profile_bio div:last-of-type {
  margin-left: 0.5rem;
  width: 20rem;
  height: 1.5rem;
}

#skeleton_posts_wrapper {
  margin: auto;
  max-width: 90vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#skeleton_posts_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
}

#skeleton_posts_container div {
  aspect-ratio: 1.5 / 1;
  background-color: gainsboro;
  -webkit-animation: endless infinite ease-in-out 1s;
          animation: endless infinite ease-in-out 1s;
  width: 300px;
  margin: 15px;
}

@keyframes endless {
  0% {
    background-color: #d7d7d7;
  }
  50% {
    background-color: #e6e6e6;
  }
  100% {
    background-color: #d7d7d7;
  }
}

nav {
  height: 70px;
  background-color: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-inline: 10px;
  border-bottom: 1px solid #dfdfdf;
}

img {
  display: block;
}

.container {
  max-width: 935px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  display: inline-block;
  font: inherit;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

.btn:focus {
  outline: 5px auto #4d90fe;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Profile Section */
.profile {
  padding: 50px 0;
}

.profile::after {
  content: "";
  display: block;
  clear: both;
}

.profile-image {
  float: left;
  width: calc(33.333% - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.profile-image img {
  border-radius: 50%;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
  float: left;
  width: calc(66.666% - 20px);
}

.profile-user-settings {
  margin-top: 11px;
}

.profile-user-name {
  display: inline-block;
  font-size: 32px;
  font-weight: 300;
}

.profile-edit-btn {
  font-size: 14px;
  line-height: 1.8;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 0 24px;
  margin-left: 20px;
}

.profile-settings-btn {
  font-size: 20px;
  margin-left: 10px;
}

.profile-stats {
  margin-top: 23px;
}

.profile-stats ul {
  padding: 0;
}

.profile-stats li {
  display: inline-block;
  font-size: 16px;
  line-height: 1.5;
  margin-right: 40px;
  cursor: pointer;
}

.profile-stats li:last-of-type {
  margin-right: 0;
}

.profile-bio {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 23px;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
  font-weight: 600;
}

/* Gallery Section */
.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px -10px;
  padding-bottom: 30px;
}

.gallery-item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 220px;
          flex: 1 0 220px;
  margin: 10px;
  color: #fff;
  cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
  display: none;
}

.gallery-item-info li {
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
}

.gallery-item-likes {
  margin-right: 22px;
}

.gallery-item-type {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.fa-clone,
.fa-comment {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.gallery-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Loader */
.loader {
  width: 50px;
  height: 50px;
  border: 6px solid #999;
  border-bottom-color: transparent;
  border-radius: 50%;
  margin: 0 auto;
  -webkit-animation: loader 500ms linear infinite;
          animation: loader 500ms linear infinite;
}

/* Media Query */
@media screen and (max-width: 400px) {
  .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 40px 0;
  }
  .profile::after {
    display: none;
  }
  .profile-image,
  .profile-user-settings,
  .profile-bio,
  .profile-stats {
    float: none;
    width: auto;
  }
  .profile-image img {
    width: 77px;
    height: 77px;
  }
  .profile-user-settings {
    -ms-flex-preferred-size: calc(100% - 107px);
        flex-basis: calc(100% - 107px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 10px;
  }
  .profile-user-name {
    font-size: 22px;
  }
  .profile-edit-btn {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0;
    text-align: center;
    margin-top: 10px;
  }
  .profile-edit-btn {
    margin-left: 0;
  }
  .profile-bio {
    font-size: 14px;
    margin-top: 15px;
  }
  .profile-edit-btn,
  .profile-bio,
  .profile-stats {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .profile-stats {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 15px;
  }
  .profile-stats ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    padding: 12px 0;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
  }
  .profile-stats li {
    font-size: 14px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0;
  }
  .profile-stat-count {
    display: block;
  }
}

/* Spinner Animation */
@-webkit-keyframes loader {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes loader {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@supports (display: grid) {
  .profile {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
    grid-column-gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .profile-image {
    grid-row: 1 / -1;
  }
  .gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(220px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 20px;
  }
  .profile-image,
  .profile-user-settings,
  .profile-stats,
  .profile-bio,
  .gallery-item,
  .gallery {
    width: auto;
    margin: 0;
  }
  @media (max-width: 400px) {
    .profile {
      -ms-grid-columns: auto 1fr;
          grid-template-columns: auto 1fr;
      grid-row-gap: 15px;
    }
    .profile-image {
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-row: 1 / 2;
    }
    .profile-user-settings {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: auto 1fr;
          grid-template-columns: auto 1fr;
      grid-gap: 10px;
    }
    .profile-edit-btn,
    .profile-stats,
    .profile-bio {
      grid-column: 1 / -1;
    }
    .profile-user-settings,
    .profile-edit-btn,
    .profile-settings-btn,
    .profile-bio,
    .profile-stats {
      margin: 0;
    }
  }
}

@media (min-width: 400px) {
  .profile-image img {
    width: 152px;
    height: 152px;
  }
}
/*# sourceMappingURL=UserProfile.css.map */