#skeleton_wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
#skeleton_header {
  max-width: 90vw;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
}
@media (max-width: 1000px) {
  #skeleton_profile_image {
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 1000px) {
  #skeleton_profile_image {
    width: 152px;
    height: 152px;
  }
}
#skeleton_profile_image {
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: gainsboro;
  animation: endless infinite ease-in-out 1s;
  display: inline-block;
}
@keyframes endless {
  0% {
    background-color: rgb(215, 215, 215);
  }
  50% {
    background-color: rgb(230, 230, 230);
  }
  100% {
    background-color: rgb(215, 215, 215);
  }
}
#skeleton_profile_info_container {
  max-width: 60vw;
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  margin-top: 0.5rem;
}
#skeleton_profile_info_container #skeleton_profile_id {
  width: 10rem;
  height: 2rem;
  background-color: gainsboro;
  animation: endless infinite ease-in-out 1s;
  display: inline-block;
  border-radius: 5px;
}
@keyframes endless {
  0% {
    background-color: rgb(215, 215, 215);
  }
  50% {
    background-color: rgb(230, 230, 230);
  }
  100% {
    background-color: rgb(215, 215, 215);
  }
}
#skeleton_profile_info_container #skeleton_profile_stats {
  display: flex;
}
#skeleton_profile_info_container #skeleton_profile_stats div {
  margin: 2rem 1rem 0 0;
  height: 1.5rem;
  width: 8rem;
  border-radius: 5px;
  background-color: gainsboro;
  animation: endless infinite ease-in-out 1s;
}
@keyframes endless {
  0% {
    background-color: rgb(215, 215, 215);
  }
  50% {
    background-color: rgb(230, 230, 230);
  }
  100% {
    background-color: rgb(215, 215, 215);
  }
}
#skeleton_profile_info_container #skeleton_profile_bio {
  display: flex;
}
#skeleton_profile_info_container #skeleton_profile_bio div {
  margin-top: 2rem;
  display: inline-block;
  border-radius: 5px;
  background-color: gainsboro;
  animation: endless infinite ease-in-out 1s;
}
@keyframes endless {
  0% {
    background-color: rgb(215, 215, 215);
  }
  50% {
    background-color: rgb(230, 230, 230);
  }
  100% {
    background-color: rgb(215, 215, 215);
  }
}
#skeleton_profile_info_container #skeleton_profile_bio div:first-of-type {
  width: 5rem;
  height: 1.5rem;
}
#skeleton_profile_info_container #skeleton_profile_bio div:last-of-type {
  margin-left: 0.5rem;
  width: 20rem;
  height: 1.5rem;
}
#skeleton_posts_wrapper {
  margin: auto;
  max-width: 90vw;
  height: auto;
  display: flex;
  justify-content: center;
}
#skeleton_posts_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 935px;
}
#skeleton_posts_container div {
  aspect-ratio: 4/3;
  background-color: gainsboro;
  animation: endless infinite ease-in-out 1s;
  width: 290px;
  margin: 10px;
}
@keyframes endless {
  0% {
    background-color: rgb(215, 215, 215);
  }
  50% {
    background-color: rgb(230, 230, 230);
  }
  100% {
    background-color: rgb(215, 215, 215);
  }
}

#post_modal.shown {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.637);
  cursor: pointer;
  z-index: 100;
}

.user-profile-container {
  /* Profile Section */
  /* Gallery Section */
}
.user-profile-container h1 {
  margin-bottom: 0;
}
.user-profile-container img {
  display: block;
}
.user-profile-container .container {
  max-width: 935px;
  margin: 0 auto;
  padding: 0 20px;
}
.user-profile-container .btn {
  display: inline-block;
  font: inherit;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}
.user-profile-container .btn:focus {
  outline: 5px auto #4d90fe;
}
.user-profile-container .visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
.user-profile-container .profile {
  padding: 50px 0;
}
.user-profile-container .profile::after {
  content: "";
  display: block;
  clear: both;
}
.user-profile-container .profile-image {
  float: left;
  width: calc(33.333% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.user-profile-container .profile-image img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
.user-profile-container .profile-user-settings,
.user-profile-container .profile-stats,
.user-profile-container .profile-bio {
  float: left;
  width: calc(66.666% - 20px);
}
.user-profile-container .profile-user-settings {
  display: flex;
  align-items: flex-end;
  margin-block: 11px;
}
.user-profile-container .profile-user-name {
  display: inline-block;
  font-size: 32px;
  font-weight: 300;
}
.user-profile-container .profile-edit-btn {
  font-size: 14px;
  line-height: 1.8;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 0 24px;
  margin-left: 20px;
}
.user-profile-container .profile-settings-btn {
  font-size: 20px;
  margin-left: 10px;
}
.user-profile-container .profile-stats {
  margin-top: 23px;
}
.user-profile-container .profile-stats ul {
  padding: 0;
}
.user-profile-container .profile-stats li {
  display: inline-block;
  font-size: 16px;
  line-height: 1.5;
  margin-right: 20px;
}
.user-profile-container .profile-stats li:last-of-type {
  margin-right: 0;
}
.user-profile-container .profile-bio {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 23px;
}
.user-profile-container .profile-real-name,
.user-profile-container .profile-stat-count,
.user-profile-container .profile-edit-btn {
  font-weight: 600;
}
.user-profile-container .gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.user-profile-container .gallery .gallery-item {
  position: relative;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
  width: 290px;
  margin: 10px;
  color: #fff;
  cursor: pointer;
}
.user-profile-container .gallery-item:hover .gallery-item-info,
.user-profile-container .gallery-item:focus .gallery-item-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.user-profile-container .gallery-item-info {
  display: none;
}
.user-profile-container .gallery-item-info ul {
  margin: 0;
  padding: 0;
}
.user-profile-container .gallery-item-info li {
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
}
.user-profile-container .gallery-item-likes {
  margin-right: 22px;
}
.user-profile-container .gallery-item-type {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.user-profile-container .fa-clone,
.user-profile-container .fa-comment {
  transform: rotateY(180deg);
}
.user-profile-container .gallery-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Media Query */
@media screen and (max-width: 500px) {
  .user-profile-container .profile {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;
  }
  .user-profile-container .camera_icon {
    font-size: 38.5px;
  }
  .user-profile-container .profile::after {
    display: none;
  }
  .user-profile-container .profile-image,
  .user-profile-container .profile-user-settings,
  .user-profile-container .profile-bio,
  .user-profile-container .profile-stats {
    float: none;
    width: auto;
  }
  .user-profile-container .profile-image img {
    width: 77px;
    height: 77px;
  }
  .user-profile-container .profile-user-settings {
    flex-basis: calc(100% - 107px);
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .user-profile-container .profile-user-name {
    font-size: 22px;
  }
  .user-profile-container .profile-edit-btn {
    order: 1;
    padding: 0;
    text-align: center;
    margin-top: 10px;
  }
  .user-profile-container .profile-edit-btn {
    margin-left: 0;
  }
  .user-profile-container .profile-bio {
    font-size: 14px;
    margin-top: 15px;
  }
  .user-profile-container .profile-edit-btn,
  .user-profile-container .profile-bio,
  .user-profile-container .profile-stats {
    flex-basis: 100%;
  }
  .user-profile-container .profile-stats {
    order: 1;
    margin-top: 15px;
  }
  .user-profile-container .profile-stats ul {
    display: flex;
    text-align: center;
    padding: 12px 0;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
  }
  .user-profile-container .profile-stats li {
    font-size: 14px;
    flex: 1;
    margin: 0;
  }
  .user-profile-container .profile-stat-count {
    display: block;
  }
}
/* Spinner Animation */
@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}
@supports (display: grid) {
  .user-profile-container .profile {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 30px;
    align-items: center;
  }
  .user-profile-container .profile-image {
    grid-row: 1/-1;
  }
  .user-profile-container .profile-image,
  .user-profile-container .profile-user-settings,
  .user-profile-container .profile-stats,
  .user-profile-container .profile-bio,
  .user-profile-container .gallery-item,
  .user-profile-container .gallery {
    width: auto;
    margin: 0;
  }
  @media (max-width: 500px) {
    .user-profile-container .profile {
      grid-template-columns: auto 1fr;
      grid-row-gap: 15px;
    }
    .user-profile-container .profile-image {
      grid-row: 1/2;
    }
    .user-profile-container .profile-user-settings {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 10px;
    }
    .user-profile-container .profile-edit-btn,
    .user-profile-container .profile-stats,
    .user-profile-container .profile-bio {
      grid-column: 1/-1;
    }
    .user-profile-container .profile-user-settings,
    .user-profile-container .profile-edit-btn,
    .user-profile-container .profile-settings-btn,
    .user-profile-container .profile-bio,
    .user-profile-container .profile-stats {
      margin: 0;
    }
  }
}
@media (min-width: 501px) {
  .user-profile-container .profile-image img {
    width: 152px;
    height: 152px;
  }
  .user-profile-container .camera_icon {
    font-size: 76px;
  }
}/*# sourceMappingURL=UserProfile.css.map */